body {
    margin: 0;
    background-color: #000;
    font-family: 'Montserrat', sans-serif;
}

h1, h2, p {
    color: #fff;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Header ============> */
.header_inner {
    display: flex;
    justify-content: flex-start;
}

.header_logo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.logo_img {
    width: 107px;
    height: 109px;
    padding-top: 23px;
}

.logo_text {
    padding-top: 27px;
    margin-left: 8px;
    font-size: 36px;
}

.header_auth {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 27px;
}

.login_img {
    margin-left: 108px;
    margin-right: 12px;
}

.login_text {
    border-bottom: 2px solid;
}

.login_text:hover {
    text-decoration: none;
    cursor: pointer;
}
/* Header============< */

/* Main Page =========> */

.main_page {
    display: flex;
    flex-wrap: nowrap;
}

.main_title {
    margin-top: 143px;
    font-size: 64px;
    margin-bottom: 88px;
    font-weight: 800;
}

.text_line {
    display: block;
    top: 70px;
    width: 139.43px;
    border-top: 4px solid #FFFFFF;
    transform: rotate(120.61deg);
    position: relative;
}

.main_text {
    margin-left: 140px;
    font-size: 20px;
    line-height: 27px;
    font-weight: 400;
    margin-top: 45px;
}

.main_ellipse {
    position: absolute;
    transform: translate3d(-30%, -70%, 0);
}

.main_right_block {
    display: flex;
    flex-wrap: wrap;
}

.main_phone {
    position: relative;
    margin-left: 180px;
    z-index: 10;
}

.main_purple_blur {
    position: absolute;
    width: 670px;
    height: 500px;
    top: -205px;
    background: rgba(250, 0, 255, 0.2);
    filter: blur(120px);
}

/* Main Page =========< */

/* Download ===========> */

.download_app_block {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    align-items: center;
}

.download_img {
    height: 55px;
    margin-left: 40px;
}

.download_text h1 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 35px;
}

/* Download ===========< */

/* Cards ===========> */

.cards {
    display: flex;
    flex-direction: row;
}

.left_card {
    width: 500px;
    height: 312px;
    border: 3px solid #fff;
    border-radius: 20px;
    margin: 30px 50px;
    margin-bottom: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card_title {
    font-weight: 700;
    font-size: 30px;
    margin: 0px 70px 30px 55px;
}

.card_link {
    margin-left: 55px;
    font-size: 24px;
    color: #fff;
}

/* Cards ===========< */

/* Our Mission ===========> */

.mission {
    display: flex;
    min-height: 750px;
}

.mission_phone {
    position: relative;
    width: 62%;
}

.mission_img {
    position: absolute;
    transform: rotate(90deg);
    transform: translate3d(-24%, -25%, 0) rotate(90deg);
    height: 1000px;
}

.mission_text {
    width: 340px;
}

.mission_title {
    font-weight: 700;
    font-size: 52px;
    margin-top: 0;
}

.mission_undertitle {
    font-weight: 400;
    font-size: 18px;
}

.mission_purple_blur {
    position: absolute;
    width: 150px;
    height: 150px;
    left: 1050px;
    top: 1490px;
    background: rgba(250, 0, 255, 0.3);
    filter: blur(75px);
}

/* Our Mission ===========<*/

/* Cocktails ==============>*/

.shadow-c {
    display: block;
    background: url('/NoTab_project/img/shadow_cocktails.svg') no-repeat center center, 
    url('/NoTab_project/img/cocktails.png') no-repeat center center;
    background-size: cover;
    height: 836px;
}

/* Cocktails ==============>*/

/* Scanner ==============>*/

.scanner {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 550px;
    position: relative;
}

.scanner_img {
    position: absolute;
    top: -385px;
}
.scanner_title {
    width: 315px;
}

.scanner .mission_purple_blur {
    display: none;
}

/* Scanner ==============< */

/* Graph ==============> */

.graph_block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.graph_left {
    width: 45%;
}

.graph_right {
    position: relative;
}

.graph_img1 {
    position: absolute;
    right: 60px;
    z-index: 10;
}

.graph_img2 {
    position: absolute;
    right: 255px;
    top: 195px;
    z-index: 10;
}

.graph_img3 {
    position: absolute;
    right: 0px;
    top: 195px;
    z-index: 10;
}

.graph_img4 {
    position: absolute;
    right: 235px;
    top: 413px;
    z-index: 9;
}

.graph_img5 {
    position: absolute;
    right: 159px;
    top: 308px;
    z-index: 10;
}

.graph_img6 {
    position: absolute;
    right: 417px;
    top: 261px;
    z-index: 10;
}

.graph_img7 {
    position: absolute;
    right: -99px;
    top: 476px;
    z-index: 10;
}

.graph_title {
    font-weight: 700;
    font-size: 55px;
    margin-top: 105px;
}

.graph_text {
    font-weight: 400;
    font-size: 18px;
    width: 405px;
}

.graph_blur {
    position: absolute;
    width: 400px;
    height: 400px;
    left: -85px;
    top: 3930px;
    background: rgb(107 52 151 / 30%);
    filter: blur(150px);
}

/* Graph ==============< */

/* Nightlife ==============> */

.nightlife_block {
    display: flex;
    flex-wrap: wrap;
    margin-top: 350px;
    background-size: cover;
    height: 1300px;
}

.nightlife_left {
    height: 682px;
    width: 50%;
    background: url('/NoTab_project/img/shadow_cocktails.svg')
    no-repeat center center, url('/NoTab_project/img/nightlife_music.svg')no-repeat center center;
    background-size: cover;
    position: relative;
}

.nightlife_right {
    height: 682px;
    width: 50%;
    background: url('/NoTab_project/img/nightlife_cocktail.svg') no-repeat center center;
    background-size: cover;
    position: relative;
}

.nightlife_block_text {
    width: 315px;
    margin-left: 130px;
    margin-top: 431px;
}

.nightlife_title {
    font-weight: 700;
    font-size: 55px;
    margin-top: 105px;
    margin-bottom: 20px;
    text-shadow: 22px -10px 30px black;
}

.nightlife_text {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 60px;
}

.nightlife_img_title {
    position: absolute;
    left: 75%;
}

.nightlife_img_order1 {
    position: absolute;
    left: -90px;
    top: 175px;
}

.nightlife_img_order2 {
    position: absolute;
    left: 306px;
    top: 550px;
}

/* Nightlife ==============< */

/* QR ==============> */

.qr {
    height: 525px;
    width: 100%;
    background: url('/NoTab_project/img/notab_text.svg') center center no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 100px;
}

.qr_img {
    position: absolute;
    z-index: 1;
    left:50%;
    transform:translate(-50%, -11%);
}

.qr_shadows {
    position: absolute;
    z-index: 0;
    left:50%;
    transform:translate(-50%, -30%);
    max-width: 1000px;
}

.qr_shadows2 {
    position: absolute;
    z-index: 0;
    left:50%;
    transform:translate(-50%, -20%);
    max-width: 1000px;
}

.qr_text {
    position: absolute;
    top: 32%;
    left: 65%;
}

.qr_arrow {
    position: absolute;
    top: 20%;
    left: 62%;
}

/* QR ==============< */

/* Generate Code ==============> */

.gen_block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
    margin-top: 100px;
}

.gen_title {
    font-weight: 700;
    font-size: 51px;
}

.gen_text {
    font-weight: 400;
    font-size: 18px;
    width: 300px;
}

.gen_under_block {
    display: block;

}

.gen_under_block .gen_text {
    width: 100%;
    margin-right: 100px;
}

/* Generate Code ==============< */

/* Cards ==============> */

.black_cards {
    width: 100%;
    height: 1000px;
    position: relative;
}

.cards_img {
    position: absolute;
    z-index: 0;
    left:50%;
    transform:translate(-50%, 0);
}

.cards_block1 {
    position: absolute;
    border: 1px solid #fff;  
    border-radius: 12px;
    background-color: #000;
    left: 55%;
    top: 20%;
}

.cards_block2 {
    position: absolute;
    border: 1px solid #fff;  
    border-radius: 12px;
    background-color: #000;
    left: 12%;
    top: 36%;
}

.cards_block3 {
    position: absolute;
    border: 1px solid #fff;  
    border-radius: 12px;
    background-color: #000;
    left: 72%;
    top: 61%;
}

.cards_block4 {
    position: absolute;
    border: 1px solid #fff;  
    border-radius: 12px;
    background-color: #000;
    left: 31%;
    top: 72%;
}

.cards_text {
    margin: 18px;
    font-weight: 400;
    font-size: 22px;
}