body {
    margin: 0;
    padding: 0;
    background-color: azure;
}

ul {
    padding: 0;
    list-style: none;
}

.carousel_box {
    padding-top: 20px;
    margin: 0 auto;
    width: 1200px;
    position: relative;
}

.carousel_image {
    margin: 0px auto 20px;
    width: 600px;
    height: 400px;
    overflow: hidden;
    position: relative;
}

.carousel_item {
    position: absolute;
    top: 0;
}


.carousel_controls-back,
.carousel_controls-forward {
    width: 225px;
    height: 225px;
    background-image: url(img/arrow.jpg);
    background-size: contain;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
}

.carousel_controls-back {
    top: 100px;
    left: 50px;
    transform: rotate(180deg);
}

.carousel_controls-forward {
    top: 100px;
    right: 50px;
    transform: rotate(0deg);
}

.carousel_item {
    width: 600px;
    height: 400px;
}